uefi='no'
bootloader='grub'
dest_disk='/dev/sda'
partition_table='mbr'
swap='no'
encrypt_home='yes'
# cipher='aes-xts-plain64'
# hash_alg='sha512'
# key_size='512'
root_size='20G'
fstype='ext4'
mirror='http://mirrors.kernel.org/archlinux/'
locale='en_US.UTF-8 UTF-8'
keymap='us'
font='Lat2-Terminus16'
timezone='America/New_York'
hardware_clock='utc'
hostname='pixel'
network='no'
set_password='no'
add_user='no'
packages=(zsh vim base-devel emacs networkmanager network-manager-applet xf86-video-intel lib32-intel-dri xf86-input-synaptics gamin)
xorg='yes'
desktop_environment='xfce4'
display_manager='lxdm'
k_modules=( 'dm_mod' atmel-mxt-ts)
